 {% extends 'base.html' %} 
 
 {% load static %} 
 
 {% block title %} - Home {% endblock %} 
 
 
 {% block content %}

<!--Main slider-->
<div class="main-slider slider flexslider">
    <ul class="slides">
        <li>
            <div class="background-img gradient-overlay gradient-overlay-dark">
                <img src="assets/img/1.jpg" alt="">
            </div>
        </li>
        
        <li>
            <div class="background-img gradient-overlay gradient-overlay-dark">
                <img src="assets/img/2.jpg" alt="">
            </div>
        </li>
    </ul>
</div>
<!--End main slider-->

{% endblock %}