 {% extends 'base.html' %} 
 
 {% load static %} 
 
 {% block title %} - Home {% endblock %} 
 
 
 {% block content %}

<!--Main slider-->
<div class="main-slider slider flexslider">

    {% if sliders %}
    <ul class="slides">
       {% for slider in sliders %}
       <li>
        <div class="background-img gradient-overlay gradient-overlay-dark">
            <img src="{{ slider.slider.url }}" alt="">
        </div>
    </li>
       {% endfor %}
    </ul>

    {% endif %}
</div>
<!--End main slider-->


 <!--About section-->
 <section id="about" class="spacer-double-lg">
    <!--Container-->
    {% if about %}
    <div class="container">
        <!--row-->
        <div class="row justify-content-between align-items-center">
            {% for content in about%}
            <div class="col-lg-5 mb-6 mb-lg-0">
                <span class="label-title mb-3">Our Story</span>
                <h2 class="h3 font-alt mb-3">{{ conetnt.title }}</h2>
                <p>{{ content.description }}</p>
                <div class="media align-items-center">
                    <img class="avatar-md rounded-circle mr-3" src="{{ content.chef_image.url }}" alt="">
                    <div class="media-body">
                        <h4 class="h6  mb-0">{{ content.chefName }}</h4>
                        <p class="mb-0">{{ content.chefTitle}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="position-relative">
                    <div class="row card-gutters">
                        <div class="col-sm-6 offset-sm-1 mb-2">
                            <a class="hover-effect  popup-image" href="{{ content.imageOne.url }}">
                                <img class="img-fluid w-100" src="{{ content.imageOne.url }}" alt="">
                                <span class="hover-effect-container">
                      <span class="hover-effect-icon">
                      <span class="fa fa-plus hover-effect-icon-inner"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-5 align-self-end mb-2">
                            <a class="hover-effect  popup-image" href="{{ content.imageTwo.url }}">
                                <img class="img-fluid w-100" src="{{ content.imageTwo.url }}" alt="">
                                <span class="hover-effect-container">
                      <span class="hover-effect-icon">
                      <span class="fa fa-plus hover-effect-icon-inner"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-5 mb-2">
                            <a class="hover-effect  popup-image" href="{{ content.imageThree.url }}">
                                <img class="img-fluid w-100" src="{{ content.imageThree.url }}" alt="">
                                <span class="hover-effect-container">
                      <span class="hover-effect-icon">
                      <span class="fa fa-plus hover-effect-icon-inner"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <a class="hover-effect  popup-image" href="{{ content.imageFour.url  }}">
                                <img class="img-fluid w-100" src="{{ content.imageFour.url }}" alt="">
                                <span class="hover-effect-container">
                      <span class="hover-effect-icon">
                      <span class="fa fa-plus hover-effect-icon-inner"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <!--End row-->
    </div>
    {% endif %}
    <!--End container-->
</section>
<!--End about section-->

        <!--Short reservation section-->
        <section class="no-gutters">
            <!--Container-->
            <div class="container-fluid">
                <!--row-->
                <div class="row ">
                    <div class="col-lg-6 bg-secondary ">
                        <div class="reservation-card p-4 h-100">
                            <div class="reservation-card-container p-6">
                                <div class="reservation-card-inner p-sm-6">
                                    <img src="{% static 'svg/serving-dish.svg' %}" alt="" class="max-width-lg mb-3">
                                    <h1 class="h2 font-alt">Make a Reservation</h1>
                                    <p class="lead">Opens 8:00 AM - 10:00 PM, every day of the week </p>
                                    <a href="#reservation" class="btn btn-dark btn-primary btn-wide scroll">Book a table</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pl-lg-2">
                            <img src="{% static 'img/reservation.jpg'%}" alt="Reservation" width=100% height=100%>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End short reservation section-->
        <!--Special section-->
        <section id="special"  class="spacer-double-lg">
            <!--Container-->
            <div class="container">
               <!--Row-->
               <div class="row justify-content-center">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="label-title mb-3">Our Specials</span>
                        <h1 class="h2 font-alt">Today's Special</h1>
                        <p class="w-md-40 mb-0 mx-auto lead">The time has come to bring those ideas and plans to life. This is where we really begin to visualize.</p>
                     </div>
                  </div>
               </div>
               <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
               <!--row-->
               <div class="row no-gutters text-center shadow-lg">
                  <div class="col-12 col-lg-6 ">
                     <div class="special position-relative w-100 bg-white">
                        <div class="row no-gutters align-items-center">
                           <div class="col-12 col-md-6 d-flex">
                              <div class="special-inner position-relative w-100">
                                 <h3 class="h5 font-weight-700 letter-spacing-small">Tomato Cheese Pasta</h3>
                                 <p>
                                    Mango, Passion Fruit, Pineapple and Coconut All Blended with Ice.
                                 </p>
                                 <a href="#menu" class="font-size-11-5 text-uppercase font-weight-700 letter-spacing-medium scroll">view full menu</a>
                              </div>
                           </div>
                           <div class="col-12 col-md-6 align-self-md-stretch d-flex">
                              <figure class="special-media">
                                 <img class="" src="assets/img/specials/1.jpg" alt="" >
                              </figure>
                           </div>
                        </div>
                     </div>
         
                  </div>

               </div>
               <!--End row-->
            </div>
            <!--End container-->
         </section>
         <!--End specials section-->
  
        <!--Review section-->
        <section class="spacer-lg jarallax gradient-overlay gradient-overlay-dark">
            <img class="jarallax-img" src="{% static 'img/review.jpg'%}" alt="">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="review-slider flexslider">
                            <ul class="slides">
                                {% for testimonial in testimonials %}
                                <li>
                                    <div class="bg-dark p-4">
                                        <div class="border-light p-5">
                                            <h4 class="h6 text-white font-alt text-uppercase">{{ testimonial.author }}</h4>
                                            <p class="text-light">"{{ testimonial.description }}"</p>
                                            <div class="d-flex justify-content-center">
                                                <i class="fa fa-star  text-light-green mr-1"></i>
                                                <i class="fa fa-star text-light-green mr-1"></i>
                                                <i class="fa fa-star text-light-green mr-1"></i>
                                                <i class="fa fa-star text-light-green mr-1"></i>
                                                <i class="fa fa-star text-light-green"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End review section-->

         <!--Gallery section-->
         <section id="gallery" class="bg-secondary spacer-double-lg">

            {% if gallery %}
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row card-gutters">
                    {% for image in gallery %}
                    <div class="col-sm-6 col-lg-3 mb-2  ">
                        <div class="grid-item card border-0">
                            <a href="{{ image.image.url }}" class="hover-effect mb-0 popup-image ">
                                <img class="card-img" src="{{ image.image.url }}" alt="">
                                <span class="hover-effect-container">
                        <span class="hover-effect-icon">
                        <span class="fa fa-plus hover-effect-icon-inner"></span>
                                </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            
            </div>

            {% endif %}
            <!--End container-->
        </section>
        <!--End gallery section-->

         <!--Services section-->
         <section class=" spacer-double-lg">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="mb-5 pb-5 text-center">
                            <span class="label-title mb-3">Our Services</span>
                            <h1 class="h2 font-alt">Customers Services</h1>
                            <p class="w-md-40 mb-0 mx-auto lead">The time has come to bring those ideas and plans to life. This is where we really begin to visualize.</p>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            {% if services %}
            <div class="container">
                <!--row-->
                
                <div class="row d-block d-flex">
                    {% for service in services %}
                    <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="text-center card mb-5 border-0">
                            <div class="card-body p-0">
                                <img class="max-width-sm mb-3" src="{{ service.serviceImage.url }}" alt="">
                                <div>
                                    <h4 class="h6 mb-2">{{ service.title  }}</h4>
                                    <p class="mb-0">{{ service.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!--End row-->
                <!--Row-->
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="mt-3 pt-3 mb-3 pb-3 ">
                            <div class="divider-border m-auto"></div>
                        </div>
                        <p class="text-center mb-0">* Dear guests, you are welcomed to dine with us at Foxe restaurant. Have a pleasant dining experience.</p>
                    </div>
                </div>
                <!--End row-->
            </div>

            {% endif %}
            <!--End container-->
        </section>
        <!--End services section-->
<!--Reservation section-->
<section id="reservation" class="spacer-lg">
    <div class="background-img ">
       <img src="{% static 'img/5.jpg'%}" alt="">
    </div>
    <!--Container-->
    <div class="container">
       <!--row-->
       <div class="row ">
          <div class="col-lg-8 bg-white">
             <div class="p-5 p-sm-5">
                <div class="mb-5 pb-5 text-left">
                   <span class="label-title mb-3">Reservation</span>
                   <h1 class="h2 font-alt">Book a Table</h1>
                   <p class="w-md-75 mb-0 lead">Please choose your reservation date with specific time and number of people to book a table </p>
                </div>
                {% comment "including the reservation form" %} This from is being hadled on the reservation app.{% endcomment %}
                
                {% include 'reservation/reservation.html' %}


             </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block">
             <div class="background-img">
                <img src="{% static 'img/reservation.jpg'%}" width=100% alt="Reservation table">
             </div>
          </div>
       </div>
       <!--End row-->
    </div>
    <!--End container-->
 </section>
 <!--End booking section-->
<!--End booking section-->

{% endblock %}