{% load static %}

<header class="header default">
    <div class="header-section">
        <!--Container-->
        <div class="container-fluid ">
            <nav class="navbar navbar-expand-lg header-navbar ">
                <a class=" navbar-brand navbar-logo scroll" href="#wrapper">
                    <img class="mb-0 logo-light" src="{% static 'img/logo_transparent.png'%}" height=60 width=70 alt="Restaurant Logo">
                    <img class="mb-0 logo-dark" src="{% static 'img/logo_transparent.png'%}" height=60 width=70  alt="Restaurant Logo">
                </a>
                <button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
            </button>
                <div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end py-0 ">
                    <ul class=" navbar-nav  header-navbar-nav">
                        <li><a class=" nav-link scroll" href="{% url 'index' %}">Home</a></li>
                        <li><a class=" nav-link scroll" href="{% url 'index'%}#about">About Us</a></li>
                        <li><a class=" nav-link scroll" href="{% url 'index'%}#special">Specials</a></li>
                        <li><a class=" nav-link scroll" href="{% url 'meals_list' %}" target="_blank">Meals</a></li>
                        <li><a class=" nav-link scroll" href="#gallery">Gallery</a></li>
                        <li><a class=" nav-link scroll" href="#news" target="_blank">News</a></li>
                        <li><a class=" nav-link scroll" href="{% url 'contact' %}" target="_blank">Contact</a></li>

                        <li class="ml-lg-auto">
                            <a class=" nav-link nav-divider scroll" href="#reservation">
                                <img src="{% static 'svg/ring-bell-light.svg'%}" alt="" class="max-width-xsm bell-light">
                                <img src="{% static 'svg/ring-bell-dark.svg' %}" alt="" class="max-width-xsm bell-dark"></a>
                        </li>
                        <li><a class=" nav-link pr-0 pb-sm-4 pb-sm-0" href="https://wa.me/{{ contact_details.phone_number}}" target="_blank"><span class="fa fa-phone mr-3"></span>{{ contact_details.phone_number }}</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--End container-->
    </div>
</header>
<!--End header-->